@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
/*  */
*{ 
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 181, 181);
    font-family: Poppins;
    background-image: url(assets/bg2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.card{
    text-align: center;
    width: 24rem;
    height: 37rem;
    background-color: rgba(32, 28, 39, 0.5);
    border-radius: 3rem;
    position: relative;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(7px);
}
.cardi{
    backdrop-filter: blur(7px);
    text-align: center;
    background-color: rgba(105, 63, 87, 0.5);
    width: 24rem;
    height: 28rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    /* box-shadow: 0px -7px 5px -4px rgba(44, 36, 41, 0.75) inset; */
    box-shadow: 0px 7px 15px -3px rgba(44, 36, 41, 0.75);
    justify-content: center;
    color: rgb(233, 233, 233);
}
.cardi h2{
    transition: .5s;
}
.cardi h2:hover{
    color: rgb(255, 183, 197);
    transform: translate(0,-5px);
}

.teks{
    color: rgb(233, 233, 233);
}
.teks b:hover{
    color: rgb(255, 183, 197);
}

.links{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    transition: .5s;
    gap: 20px;
}

.links .spot a i{
    font-size: 33px;
    margin: 25px 1px;
    color: white;
    transition: .3s;
}

.links .spot a i:hover{
    transform: translate(0,-5px);
    color: rgb(30, 215, 96);
}


.links .dc a i{
    font-size: 33px;
    margin: 25px 1px;
    color: white;
    transition: .3s;
}

.links .dc a i:hover{
    color: #7289da;
    transform: translate(0,-5px);
}

.links .ig a i{
    color: white;
    margin: 25px 1px;
    font-size: 33px;
    transition: .3s;
}

.links .ig a i:hover{
    color: rgb(255, 220, 128);
    transform: translate(0,-5px);
}
.fikilogo{
    width: 7rem;
    border-radius: 50%;
    /* background: rgb(107, 48, 81);
    padding: 4px; */
    margin-top: 2rem;
    box-shadow: 0px 0px 50px 14px rgba(47, 11, 118,0.75);
}
.copirek{
    font-size: 15px;
    color: white;
}
.copirek p:hover{
    color: rgb(255, 255, 191);
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}
/* bg effect */
.circles{
    /* position: absolute; (old code)*/
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(255, 183, 197, 0.288);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media (max-width: 575px) {
    .card{
        width: 24rem;
        height: 42rem;
    }
    .cardi{
        width: 24rem;
        height: 33rem;
    }
    .container {
        height: 100vh;
        width: 100vw;
    }
  }
